/**
 * This stylesheet is used to print reveal.js
 * presentations to PDF.
 *
 * CAVE: It was also altered to make print of thm slides more beautiful
 *
 * https://revealjs.com/pdf-export/
 */

html.reveal-print {
	* {
		-webkit-print-color-adjust: exact;
		print-color-adjust: exact;
	}

	& {
		width: 100%;
		height: 100%;
		overflow: visible;
	}

	body {
		margin: 0 auto !important;
		border: 0;
		padding: 0;
		float: none !important;
		overflow: visible;
	}

	/* Remove any elements not needed in print. */
	.nestedarrow,
	.reveal .controls,
	.reveal .custom-controls,
	.reveal .progress,
	.reveal .playback,
	.reveal.overview,
	.reveal .slide-menu-button,
	.reveal .fa,
	.state-background {
		display: none !important;
	}

	.reveal pre code {
		overflow: hidden !important;
	}

	.reveal {
		width: auto !important;
		height: auto !important;
		overflow: hidden !important;
	}

	.reveal .slides {
		position: static;
		width: 100% !important;
		height: auto !important;
		zoom: 1 !important;
		pointer-events: initial;

		left: auto;
		top: auto;
		margin: 0 !important;
		padding: 0 !important;

		overflow: visible;
		display: block;

		perspective: none;
		perspective-origin: 50% 50%;
	}

	.reveal .slides .pdf-page {
		position: relative;
		overflow: hidden;
		z-index: 1;

		page-break-after: always;
	}

	.reveal .slides .pdf-page:last-of-type {
		page-break-after: avoid;
	}

	.reveal .slides section {
		visibility: visible !important;
		display: block !important;
		position: absolute !important;

		margin: 0 !important;
		padding: 0 !important;
		box-sizing: border-box !important;
		min-height: 1px;

		opacity: 1 !important;

		transform-style: flat !important;
		transform: none !important;
	}

	.reveal section.stack {
		position: relative !important;
		margin: 0 !important;
		padding: 0 !important;
		page-break-after: avoid !important;
		height: auto !important;
		min-height: auto !important;
	}

	.reveal img {
		box-shadow: none;
	}

	/* Slide backgrounds are placed inside of their slide when exporting to PDF */
	.reveal .backgrounds {
		display: none;
	}

	.reveal .footer {
		position: absolute !important;
	}

	.reveal .footer-left {
		position: absolute !important;
	}

	.reveal .slide-background {
		display: block !important;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: auto !important;
	}

	/* Display slide speaker notes when 'showNotes' is enabled */
	.reveal.show-notes {
		max-width: none;
		max-height: none;
	}

	.reveal .speaker-notes-pdf {
		display: block;
		width: 100%;
		height: auto;
		max-height: none;
		top: auto;
		right: auto;
		bottom: auto;
		left: auto;
		z-index: 100;
	}

	/* Layout option which makes notes appear on a separate page */
	.reveal .speaker-notes-pdf[data-layout="separate-page"] {
		position: relative;
		color: inherit;
		background-color: transparent;
		padding: 20px;
		page-break-after: always;
		border: 0;
	}

	/* Display slide numbers when 'slideNumber' is enabled */
	.reveal .slide-number-pdf {
		display: block;
		position: absolute;
		font-size: 14px;
		z-index: inherit;
		visibility: visible;
	}

	/* This accessibility tool is not useful in PDF and breaks it visually */
	.aria-status {
		display: none;
	}

	/*********************************************
	* TITLE SLIDE BACKGROUND
	*********************************************/
	// BACKGROUND
	// 18.4% from top 93.8% from bottom
	div[data-background-slide-name="thm-title-slide-1"] .slide-background-content {
		// GENERAL BACKGROUND 
		top: 18.4%;
		left: 0;
		height: 75.4%;
	}

	// Allow Whitespace on Titleslide in section - is otherwise overwritten by the print.js funciton
	section.present[data-background-slide-name="thm-title-slide-1"] {
		position: absolute;
		bottom: 0px;
		top: 0px;
		left: 0px;
		right: 0px;
		inset: 0px !important;
	}

	/*********************************************
	* THM TITLE STYLING
	*********************************************/
	// HEADER
	// from left: 70% text start 71,7% ende 96,7%
	// from top: 42,4% text ends at bottom at: 86,1% to: 89,7%
	div.thm-title-1 {
		position: absolute;
		left: 70%;
		top: 42.4%;
		width: 26.7%;
		height: 47.3%;
		background-color: white;
		margin: unset;
	}

	div.thm-title-1 h1 {
		position: absolute;
		display: flex;
		bottom: 7%;
		left: 7%;
		font-size: 25pt;
		text-align: left;
		margin: 0;
	}
}